name: Upload package to GitHub Releases

on:
  release:
    types: [published]

jobs:
  release-artifacts:
    name: Build and release binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: "386"
            goos: darwin
          - goarch: arm64
            goos: windows
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v4.1.2
      - name: Build and release binaries
        uses: wangyoucao577/go-release-action@279495102627de7960cbc33434ab01a12bae144b #v1.55
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "https://dl.google.com/go/go1.22.1.linux-amd64.tar.gz"
          project_path: "."
          binary_name: "rmm"
